<h1>CloudShell Plugin</h1>
<br>
$action.getWarning()
<br>
$action.getError()
<h2>Click here to open CloudShell sandbox:
<a target="_new" href="$action.getPortalhttphttps()://$action.getPortalip():$action.getPortalport()/RM/Diagram/Index/$action.getResid()">$action.getResname()</a>
<br></h2>
