<h1>CloudShell Plugin</h1>
<br>
$action.getWarning()
<br>
$action.getError()
<br>
<!-- $action.getDebug() -->
<h2>$action.getClickHereMessage()
<a target="_new" href="$action.getPortalurl()/RM/Diagram/Index/$action.getResid()">$action.getResname()</a>
<br></h2>
